body {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center
}

.not-margin {
  margin: 0
}

.background {
  background-color: grey;
}

.color {
  color: #fff
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center
}

.padding {
  padding: 1rem
}

.position {
  position: relative;
}

.margin-top {
  margin-top: 2rem
}

.image {
  width: 60%;
}

/* Style for header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none
}

.hide{
  display:none
}
.container-link {
  padding-right: 1.5rem
}

.link {
  text-decoration: none
}

/* Style for footer*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
}

/* Style for 404.html */

#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px 16px;
  border-radius: 3px;
}

#message h3 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
  margin: 16px 0 12px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

/* estilos de modal */
/* .modal {
  background: hsl(139, 39%, 53%);
  margin: auto;
  border-radius: 33px;
  width: 339px;
  height: 185px;
  text-align: center;
  position: absolute;
  top: 152px;
  left: 0;
  right: 0;
}
<<<<<<< HEAD

=======
>>>>>>> b51e8f85b418cface08eee7299f0edf5381670aa
.modalcontenido {
  margin: 20px;
}
.cerrar {
  color: #021f35;
  float: right;
  font-size: 48px;
  cursor: pointer;
}
.textModal {
  font-size: 28px;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  top: 49px;
  color: #e73e77;
}
.cerrar:hover .cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

.ventana {
  background: turquoise;
  width: 50%;
  color: beige;
  font-size: 18px;
  text-align: center;
  padding: 33px;
  min-height: 80px;
  border-radius: 22px;
}

@media (max-width: 600px) {

  body,
  #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }
}
